{% extends 'base.html' %}

{% block content %}
    <img src="{{ user.profile.get_image_url }}" alt="Imagen de Perfil" width="200" height="200">
    <h1>{{user.full_name}}</h1>
    <p>Email: <b>{{user.email}}</b></p>
    <p>Telefono: <b>{{user.phone_number}}</b></p>
    <p>Genero: <b>{{user.get_gender_display}}</b></p>
    {% if user.date_birth %}
        <p>Fecha de Nacimiento: <b>{{user.date_birth}}</b></p>
    {% else %}
        <p>Fecha de Nacimiento No Especificada</p>
    {% endif %}
    <h2>Biografía</h2>
    <p>{{ user.profile.bio }}</p>
    {% if user.profile.is_public %}
        <h3 style='color:green'>PERFIL PÚBLICO</h3>
    {% else %}
        <h3 style='color:red'>PERFIL PRIVADO</h3>
    {% endif %}

    <h3>Direcciones de Envio Registradas</h3>
    <a href="{% url 'addresses:create' user.id %}">
        <button>Añadir nueva dirección de Envio</button>
    </a>
    {% if user.addresses.all|length > 0 %}
        <ul>
            {% for address in user.addresses.all %}
                <a href="{% url 'addresses:detail' address.id %}">
                    <li>
                        {{ address.street }} #{{ address.external_number }}, {{ address.city }} 
                        <a href="{% url 'addresses:update' address.id%}">
                            <button>Editar</button>
                        </a>
                        <a href="{% url 'addresses:delete' address.id%}">
                            <button>Eliminar</button>
                        </a>
                    </li> 
                </a>       
            {% endfor %}
        </ul>
    {% else %}
        <p>Aun no tienes dirrecciones de envio registradas 😭</p>
    {% endif %}
    <a href="{% url 'user:update' user.id %}"><button>Editar Usuario</button></a>
    <a href="{% url 'user:delete' user.id %}"><button>Eliminar Usuario</button></a>
{% endblock content %}