{% extends 'base.html' %}

{% block content %}
        <form action="{% if user %}/main/update/{{user.id}}/{% else %}/main/create/{% endif %}" method="POST">
        {% csrf_token %}
        <label for="first_name">Tu(s) Nombre(s)</label>
        <input type="text" id="first_name" name="first_name" placeholder="Tu Nombre" 
        value="{% if user %}{{user.first_name}}{% endif %}"
        required>
        <br>
        <label for="last_name">Tu(s) Apellido(s)</label>
        <input type="text" id="last_name" name="last_name" placeholder="Tus Apellidos" 
        value="{% if user %}{{user.last_name}}{% endif %}"
        required>
        <br>
        <label for="email">Tu email</label>
        <input type="text" id="email" name="email" placeholder="example@gmail.com" 
        value="{% if user %}{{user.email}}{% endif %}"
        required>
        <br>
        <label for="phone_number">Tu Numero Telefonico</label>
        <input type="text" id="phone_number" name="phone_number" placeholder="55-32-54-55-66" 
        value="{% if user %}{{user.phone_number}}{% endif %}"
        required>
        <br>
        <label for="gender">Genero</label>
        <select name="gender" id="gender" required>
            <option value="">Selecciona tu Genero</option>
            <option value="male" {% if user and user.gender == 'male' %} selected="selected"{% endif %}>Masculino</option>
            <option value="female" {% if user and user.gender == 'female' %} selected="selected"{% endif %}>Femenino</option>
            <option value="other" {% if user and user.gender == 'other' %} selected="selected"{% endif %}>Otros</option>
        </select>
        <br>
        <label for="date_birth">Tu Fecha de Nacimiento</label>
        <input type="text" id="date_birth" name="date_birth" placeholder="AAAA-MM-DD"
        value="{% if user and user.date_birth %}{{user.date_birth|date:'Y-m-d'}}{% endif %}"
        >
        <br>
        <input type="submit" value="Guardar">
    </form>
{% endblock content %}
